{% extends 'base.html' %}
{% block title %}Link{% endblock %}
{% block content %}
{% include 'link_delete.html' %}

<div class="card my-2">
  <div class="card-header">
    <i class="far fa-star"></i> Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="{{ object.url }}" target="_blank">{{object.title}}</a></h5>
    <p class="card-text my-1"><i class="fas fa-user"></i> {{object.submitted_by.username|title}}</p>
    <p class="card-text"><small class="text-muted">{{object.submitted_on}}</small></p>
    <div class="text-end">
        <a href="{% url 'link-edit' pk=object.pk %}" class="btn btn-outline-primary">Edit</a>
        <a href="" data-url="{% url 'link-delete' pk=object.pk %}"
          data-message="Are you sure you want to delete {{object.title}} ?" class="btn btn-outline-danger" type="button"
          data-toggle="modal" data-target="#deleteModal">
          Delete
        </a>
    </div>
    
  </div>
</div>

{% endblock content %}
