{% extends 'base.html' %}
{% block title %}Create Link{% endblock %}
{% block content %}

<h1>Create link:</h1>

<form action="{% url 'link-create' %}" method="POST" role="form">
    {% csrf_token %}
    {% if form.subject.errors %}
    <ol role="alertdialog">
        {% for error in form.subject.erros %}
        <li role="alert"><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}

    {% for field in form %}
    <div class="fieldWrapper form-group"
        aria-required="{% if field.field.required %}'true'{% else %}'false'{% endif %}">
        {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
        {{ field }}
        {% if field.error %}
        <div class="alert alert-danger" role="alert">
            {{ field.error}}
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary mt-4" value="Add link" />

</form>

{% endblock content %}